.navbar {
  border-radius: 25px 25px 0 0;
  padding: 1rem;
}

.navbar .my-collapse {
  flex-basis: unset;
  flex-grow: unset;

  display: flex;
}

.navbar .my-collapse .nav-link {
  padding: 0 1rem;
}

.navbar .pagination {
  margin-bottom: 0;
}